S3method("detail", "SciencePo" )
export(accent)
export(anonymize)
export(beta.coef)
export(detail)
export(get.ci)
export(get.ipc)
export(get.poly)
export(install)
export(gsr)
export(kurtosis)
export(lsq)
export(outliers)
export(rescale)
export(rm.tags)
export(rprob)
export(rstack)
export(se)
export(shift)
export(skewness)
export(soundexBR)
export(soundexES)
export(soundexFR)
export(tableau)
export(tolatex)
export(winsor.mean)

